.sdms-font {
  font-family: "SDMiSaeng", sans-serif;
  font-size: 23px;
}
* {
  margin: 0;
  padding: 0;
}
.hi {
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline solid 5px #f7d358;
}
.hi:before {
  content: "";
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  border-top: 1px solid #39393d;
  background-color: #dcdcde;
}
.row .container div {
  text-align: center;
  margin-top: 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

.tab_menu {
  margin-left: 420px;
}
.our__title-line {
  /* display: inline-block; */
  /* position: relative; */
  /* padding-right: 16px; */
  margin-top: 50px;
  font-weight: bold;
  font-size: 16px;
  /* line-height: 1.5; */
  color: #39393d;
  text-align: center;
  background-color: #fff;
}
.our__sub-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #1d1d1e;
}

.intro_wrap img {
  width: 100%;
  height: 500px;
}
.col #intro_text {
}

.tab_menu .list li {
  float: left;
}
.tab_menu .list .btn {
  font-size: 13px;
  font-weight: bold;
}
.tab_menu .list .cont {
  display: none;
  position: absolute;
  left: 0;
  /* margin: 20px; */
  color: #000;
  text-align: left;
  /* width: 850px; */
  height: 100%;
}
.tab_menu .list li.is_on .btn {
  font-weight: bold;
  color: green;
}
.tab_menu .list li.is_on .cont {
  display: block;
}
.card {
  width: 350px;
  border-radius: 8px;
  text-align: center;
  margin: 30px 30px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.card img {
  text-align: center;
  width: 100%;
  height: 300px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-10px);
}

input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  background-color: #c0d1e1;
  color: #111111;
  width: 200px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
}
#btn1 {
  border-radius: 10px 0 0 10px;
}
#btn2 {
  /* border-radius: 0 10px 10px 0; */
}
#btn3 {
  border-radius: 0 10px 10px 0;
}
input[type="radio"] + label {
  color: #000;
  font-weight: bold;
  background-color: #f7d358;
}
.tab_menu .list li {
  float: left;
  list-style-type: none;
}
.is_on .btn {
  background-color: #f7d358;
}

.btn:hover {
  background-color: #f7d358;
}
.cont {
  background-image: url(/src/LinkWith/image/느린학습자\ 홈페이지\ 메인화면\ 배경.jpg)
    no-repeat center;
  background-size: cover;
  width: 100%;
}
