* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.quiz {
  margin-left: 650px;
  margin-top: 100px;
}

.start_btn,
.quiz_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  width: 540px;
  height: 540px;
  background: #fff;
  border-radius: 5px;
}
.info_box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  width: 540px;
  height: 280px;
  background: #fff;
  border-radius: 5px;
}
.start_btn button {
  font-size: 20px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.info_box .info_title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 35px;
  font-weight: 600;
  font-family: sans-serif;
}
.info_title span {
  white-space: nowrap;
  margin-left: 160px;
}
.info_box .info_list {
  padding: 15px 35px;
}
.info_box .info_list .lnfo {
  margin: 5px 0;
  font-size: 17px;
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgray;
}
.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
section img {
  width: 500px;
  height: 500px;
  margin: 150px 500px;
}
.buttons button#quit {
  border-color: #007bff;
  color: #007bff;
}
.buttons button#restart {
  border-color: #007bff;
  color: #fff;
  background: #007bff;
}
.buttons button.restart:hover {
  background: #0264ca;
}
.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}
.quiz_box {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
}
.quiz_box h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}
.exam {
  padding: 20px 0;
}
.exam h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}
.answer_btn {
  background: #fff;
  color: #000;
  font-weight: 500;
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.answer_btn:hover:not([disabled]) {
  background: #007bff;
  color: #fff;
}
.answer_btn:disabled {
  cursor: no-drop;
}
#next_btn {
  background: #007bff;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.correct {
  background: #9aeabc;
}
.incorrect {
  background: #ff9393;
}
