body {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo a {
  display: block;
  width: 210px;
  height: 50px;
  background: url(/src/LinkWith/image/링크위드로고.png) no-repeat left top;
  background-size: 100%;
  text-indent: -9999px;
  margin-right: -30px;
}
#logo a:link {
  text-decoration: none;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-inner {
  width: 100%;
  height: 570px;
}

.carousel-item {
  height: 36rem;
  position: relative;
}

.carousel-item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 36rem;
}
.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}
.container #button_1 a {
  background-color: #fe9a2e;
  position: absolute;
  top: 200px;
  right: 450px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}
.container #button_2 a {
  background-color: #a5df00;
  position: absolute;
  top: 300px;
  left: 190px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}
.container #button_3 a {
  background-color: #f78181;
  position: absolute;
  top: 250px;
  right: 500px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}
.container #button_3-1 a {
  background-color: #f78181;
  position: absolute;
  top: 250px;
  right: 400px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}
.container #button_3-2 a {
  background-color: #f78181;
  position: absolute;
  top: 250px;
  right: 300px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}
.container #button_4 a {
  background-color: #088a29;
  position: absolute;
  top: 230px;
  left: 190px;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
}

.main_text #pencil {
  margin-top: 80px;
  margin-left: 150px;
  width: 50px;
  height: 50px;
}
#bold {
  margin-left: 150px;
  font-size: 40px;
  color: navy;
  font-weight: bold;
  font-family: sans-serif;
}
#bold_1 {
  margin-left: 150px;
  font-weight: 1px bold;
  font-family: sans-serif;
}

.jm-font {
  margin-left: 150px;
  color: rgb(67, 69, 73);
  font-size: 20px;
}
.jm-font strong {
  background-color: #000066;
  color: white;
}
.main_text {
  float: left;
}
div #child {
  width: 400px;
  height: 300px;
  margin-top: 150px;
  margin-left: 50px;
}
.active {
  /* border-width: 0; */
  background-image: url(/src/LinkWith/image/느린학습자\ 홈페이지\ 메인화면\ 배경.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* 배경 이미지를 요소에 맞게 확대/축소 */
  background-position: center; /* 배경 이미지를 가운데 정렬 */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* position: relative; */
}
.active #background {
  /* position: absolute; */
}
.active #active_text {
  /* position: absolute; */
  font-size: 32px;
  font-weight: 700;
  margin-left: 150px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline solid 8px #f7d358;
  margin-top: 170px;
  display: block;
}
.active #active_btn {
  /* position: absolute; 
  top: 150px;*/
  margin-left: 1250px;
  /* right: inherit; */
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  text-align: right;
  background-color: #d8d8d8;
  color: #fff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  text-shadow: 1px 1px 1px #000;
}
.active #active_btn:hover {
  box-shadow: -3px -3px 3px rgb(172, 172, 172), 3px 3px 3px rgb(237, 237, 237);
  transition: 0.3s;
}

/*카드 css*/
#card {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  margin-left: 150px;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  /* position: relative; */
}

#card img {
  text-align: center;
  width: 300px;
  height: 300px;
  /* position: relative; */
}

#card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-10px);
}

.introduce {
  background-color: #fff;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  font-family: SpoqaHanSansNeo-Regular;
  /* margin-top: 30px; */
  /* margin-bottom: 150px; */
}

.introduce #footer_logo {
  /* position: absolute; */
  width: 300px;
  height: 200px;
  display: inline-flex;
}

.introduce span {
  font-size: 15px;
  font-weight: bold;
  margin-left: 100px;
}

.introduce #knut {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  margin-left: 50px;
}
