.bar {
  width: 100%;
  height: 20px;
  background-color: #8878cd;
  box-shadow: 10px 10px 10px #999999; /*그림자*/
  opacity: 1; /* 요소의 투명도 */
}

#title {
  margin-left: 50px;
  /* margin-top: 20px; */
  font-size: 25px;
  font-family: "SDSamliphopangche_Outline";
  font-weight: bold;
  text-decoration-line: none;
  display: inline;
}

#knut {
  border: 0;
  width: 30px;
  height: 30px;
}
.container {
  position: relative;
  display: inline-block;
}
.infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  /* padding: 40px 20px; */
}
.info {
  font-size: 15px;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  text-align: center;
  font-weight: bold;
  border: 3px solid white;
  transform: skewX(-14deg);
  border-radius: 10px;
  /* box-sizing: border-box; */
  transition: transform 0.1s, background-color 0.6s;
  /* overflow: hidden; */
  padding-top: 20px;
}

.info:hover {
  background-color: orange;
  transform: skewX(0deg);
  z-index: 1;
}
.info-dropdown {
  display: none;
  background-color: #fff;
  min-width: 50px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.info-dropdown a {
  color: #333;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

.info-dropdown a:hover {
  background-color: #f5f5f5;
}
.info:hover .info-dropdown {
  display: block;
  border-radius: 10px;
}
/* .btn_login {
    border-radius: 1px;
    cursor: pointer;
  }
  
  .btn_register {
    border-radius: 1px;
  } */

.animated-text {
  font-family: NotoSansKrRegular;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 100px;
  left: 500px;
  letter-spacing: -1px;
  color: #38acb6;
  text-align: center;
  margin-left: 100px;
  animation: slide 3s;
}

@keyframes slide {
  from {
    left: -100px;
  }
  to {
    left: 500px;
  }
}

.define {
  width: 410px;
  position: absolute;
  left: 10%;
}

.define h2 {
  color: #111;
  border-bottom: 2px solid #111;
  line-height: 1;
  padding: 0 0 20px;
}

span img {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 20%;
  top: 200px;
}
